.Main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.MainRow {
  padding: 10px 5px;
  overflow: hidden;
}

.LeftCol {
  width: 25%;
  float: left;
}

.RightCol {
  width: 70%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MainRow textarea,
.MainRow input {
  padding: 4px;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.5);
}

.MainRow textarea:focus,
.MainRow input:focus {
  box-shadow: 0 0 2px 2px rgba(50, 50, 50, 0.75);
}

.MainRow textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
}

.MainRow input {
  width: calc(100% - 80px);
}

.MainRow .Arrow {
  margin-left: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}